* {
    margin: 0;
    padding: 0;
    
}
/*navbar*/
.containerNav {
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(232, 241, 232, 0.8), rgba(14, 13, 14, 0.8)), url(./imgProyectoHuracan/fondoHuracan.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 5px;
}
/*navbar*/
.navbar {
    width: 80%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*navbar*/
.logo {
    width: 180px;
    cursor: pointer;
    padding:2px;
}
/*navbar*/
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
/*navbar*/
.navbar ul li a {
    text-decoration: none;
    color: rgb(218, 231, 33);
    font-family: 'Ubuntu', sans-serif,;
    font-size: 1.2rem;
}
/*navbar*/
.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(72, 105, 5);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}
/*navbar*/
.navbar ul li:hover::before {
    width: 100%;
}
/*navbar*/
.h1Title{
    padding-left: 200px;
    margin: auto;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    text-align:initial;
}