/*Comienzo Header */
/*inicio Header de todas las paginas*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "header";
@import "mainNoticias";
@import "mainContacto";
@import "footer";
@import "sliderPublicidad";
$colorAmarilloHuracan: #f0d024;
@import "mainFutbol";


/*****Media Query*/
@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .contact-wrapper>* {
    padding: 2em;
  }

  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}
@media only screen and (max-width: 500px) {
  .logo h1 {
    font-size: 15px;
  }

  /*cuando el ancho de la pantalla es inferior a 500 px, se mostrará la etiqueta y el cursor se transformará en un puntero*/

  label {
    display: block;
    cursor: pointer;
  }

  /*el menú que contiene los enlaces tendrá el texto alineado en el centro, ocupará todo el ancho de la página y se ocultará si no se presiona la etiqueta*/

  .menu {
    text-align: center;
    width: 100%;
    display: none;
    clear: both;
  }

  /*los enlaces dentro del menú se mostrarán en bloque, por lo que ocuparán todo el ancho de la página y tendrán un margen inferior*/

  .menu a {
    clear: left;
    display: block;

    margin: 0;
  }

  #toggle:checked+.menu {
    display: block;
  }
}
/* EXTENDS
body {
  
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Botones para redes sociales
.buttonsRedes {
  min-width: 700px;
  display: flex;
  justify-content: space-around;
}


.buttonsRedes a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #314652;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttonsRedes a:hover {
  transform: scale(1.2);
}

.buttonsRedesFace {
  @extend .buttonsRedes;
  color: blue;

  .buttonsRedesInsta {
  @extend .buttonsRedes;
  color: orange;
}

Mixin (html en index linea 174) 

@mixin container($ancho, $alto, $color) {
  width: $ancho;
  height: $alto;
  background-color: $color;
  border-radius: 5%;
  text-align: center;
  margin: 5px;
} 

Mapa con Sass



$estilos: (
  color: #3673D9,
  centro: center
);

div {
  background-color: map-get($estilos, color);
  text-align: map-get($estilos, centro);
  padding: 1rem;
  color: white;
}





*/

