@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box0;
}
body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color:  #050505 ;
    text-align: center;
    padding: 1px 0;
}
nav{
    margin-top: 10px;
    padding: 10px;
}
nav a{
    display: inline-block;
    text-decoration: none;
    color:#eaeae3 ;
    margin: 0 50px;
    padding: 10px 10px;
    border-radius: 30px;


}
nav a:hover{
    background-color: #0f5f2b;
    color: #f0d024;
    
}
.encabezadoImg{
    background-image: url(../imgProyectoHuracan/huracanVarias/Navbarhura.png);
    object-fit: cover;
    height: 450px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content:baseline;
    align-items: center;
    color: #f0d024;

} 
.encabezadoImg p{
    font-size: 20px;
}
.encabezadoImg h1{
    font-size: 50px;
    padding: 20px;
}
/*main*/


/*mainPublicidad*/
.containerPubli{
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 20px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.sliderPubli{
    position: relative;
    width: 800px;
    height: 300px;
  }
  
  ul.sliderPubli li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.sliderPubli li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.sliderPubli li:first-child {
      opacity: 1; 
  }
  
  ul.sliderPubli li:target {
      opacity: 1; 
  }
  
  .menuPubli{
    text-align: center;
    margin: 20px;
  }
  
  .menuPubli li{
    display: inline-block;
    text-align: center;
  }
  
  .menuPubli li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
  }

  /*footer*/
  footer{
    width: 100%;
    padding: 50px 0px;
    /*border: 5px groove #0f5f2b;
    background-image: url(../imgProyectoHuracan/huracanVarias/WhatsApp\ Image\ 2022-03-18\ at\ 8.49.01\ PM.jpeg);
    background-color: #f0d024;
    background-size: cover;*/
    
    background-color:  #040404 ;
    -webkit-mask-image: url("../imgProyectoHuracan/huracanVarias/background-footer.svg");
    mask-image: url("../imgProyectoHuracan/huracanVarias/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
}

.containerFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.boxFooter{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.boxFooter .logo img{
    width: 180px;
}

.boxFooter .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #0f5f2b  ;
    font-size: 18px;
}

.boxFooter h2{
    
    margin-bottom: 30px;
    color: #eaeae3 ;
    font-weight: 900;
}

.boxFooter a{
    margin-top: 10px;
    color: #0f5f2b  ;
    font-weight: 600;
}

.boxFooter a:hover{
    opacity: 0.8;
}

.boxFooter a .fab{
    font-size: 20px;
}

.boxCopyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.boxCopyright p{
    margin-top: 20px;
    color:  #f0d024;
}

.boxCopyright hr{
    border: none;
    height: 1px;
    background-color:   #0f5f2b;
}
